.scroll-container {
    width: 70%;
    overflow-x: auto;
    display: flex;
  }
  
  .card {
    min-width: 300px;
    margin: 12px; 
  }
  
  .characters {
    width: 68%;
    align-items: flex-start;
  }
  
  .planets {
    width: 68%;
    align-items: flex-start;
  }
  
  
  